<h1>hi hello whats up</h1>

<p><%=@users.first.addresses.inspect%></p>
<p><%=@users.first.household_members.inspect%></p>
<p><%=@users.last.addresses.inspect%></p>
<p><%=@users.last.household_members.inspect%></p>
