<h1>Hello World for home</h1>



<div>
<ul>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
</ul>
</div>

<% if current_user.admin? %>
<p>Admin stuffity</p>

	<%end%>